{% extends "templates/web.html" %}

{% block content %}

<style>
    .custom-button {
        display: inline-block;
        background-color: #007bff; 
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        border: none;
    }

</style>

<div class="container">
    <h2> {{ name }} </h2>

    <div class="flight-detail">
        <h3> Flight Details</h3>

        <ul>
            {% set airplane_doc = frappe.get_doc("Airplane", doc.airplane) %}
            <li> Airline: {{ airplane_doc.airline }} </li>
            <li> {{ doc.source_airport_code }} -> {{ doc.destination_airport_code }} </li>
            <li> {{ doc.date_of_departure }} | {{ doc.time_of_departure }} </li>
            <li> Duration: {{ frappe.utils.format_duration(doc.duration) }} </li>
        </ul>

        <a href="{{ frappe.utils.get_url('/book-ticket-web-form/new') }}?flight_name={{ doc.name }}" 
            class="custom-button">
            Book Flight
            </a>

    </div>
</div>

{% endblock %}

